* {  
    margin: 0%;
    
}

.miheader {
    background-image: url(../../public/images/cover.jpeg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

h1 {color: white;
    font-size: 80px;
    padding: 150px;

}

.inhac {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    
    
}

.flechadown {
    
}