* {
    box-sizing: border-box;
    margin: 0;
}

body {  
    margin: 0;
    font-family: "Poppins";
    
}

.mod1 {
    background-image: url(../../public/images/header.jpg);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       height: 400px;
       display: flex;
       align-items: center;
    flex-direction: column;
    gap: 20px;
       }

.header {
    background-color: transparent;
    background-image: url(../../public/images/header.jpg);
    height: 100px;
    display: flex;
}

.menu-desktop {
  display: none;
}

.containermenu {
    position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.menu-link {
  display: none;
 } 

.menu {
     width: 24px;
    height: 24px;
    margin: 36px 43px 98px 33px;
    object-fit: contain;
    position: fixed;
    
}

.logo{
   
  justify-content: center;
}

.h1 {
    color: #0c474b;
    padding-bottom: 60px;

}

.boton {
  background-color: #0c474b;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  
}

.mod2{
    background-color: #f0ebe5;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 1360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px  ;
    grid-auto-rows: 150px;
    gap: 20px;
}

.text1v {
    font-size: 30px;
    font-weight: 700;
    color: #0c474b;
    grid-column: 2/3;
}

h3 {
    color: #0c474b;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    color: #0c474b;
}

.imgtable {
    grid-column: 2/3;
}

.text2l {
    grid-column: 2/3;
}

.imgbag {
    grid-column: 2/3;
}

.text3m {
    grid-column: 2/3;
}

.imgpark {
    grid-column: 2/3;
}

.text4g {
    grid-column: 2/3;
}

.containerorange {
    background-color: #ff975a;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    flex-wrap: wrap;
    
}

.texte {
    color: #f0ebe5;
    font-weight: 600;
    font-size: 30px;
}

.texte2 {
    color: #f0ebe5;
    font-size: 20px;
}

.linkorange {
    color: #f0ebe5;
    font-weight: 600;
    font-size: 20px;
    padding-top: 40px;
}

.containerwhite {
    background-color: #f0ebe5;
    height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    flex-wrap: wrap;
    color: #0c474b
}

.containerp  {
    padding-top: 20px;
    padding-left: 10px;
}

.p1 {
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
}

.p2 {
    font-size: 20px;
    padding-bottom: 20px;
}

.boton2 {
  background-color: #0b8a2b;
  color: #f0ebe5;
  padding: 20px 30px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
}

.wc {
   width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
    background-color: #0c474b;
    height: 700px;
     display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    color: #b6c8c9;
    
}

.foop1 {
    padding-top: 50px;
    padding-left: 30px;
    color: #b6c8c9;
    font-weight: 600;
    font-size: 30px;
    justify-content: center;
}

.ul1 {
  list-style: none;
  
}

.ul1 a {
    list-style-type: none;
    color: #b6c8c9;
     text-decoration: none;
     
}

.foop2 {
    padding-top: 50px;
    padding-left: 30px;
    color: #b6c8c9;
    font-weight: 600;
    font-size: 30px;
}

.ul2 {
  list-style: none;
}

.ul2 a {
    list-style-type: none;
    color: #b6c8c9;
     text-decoration: none;
}

.foop3 {
    padding-top: 50px;
    padding-left: 40px;
    color: #b6c8c9;
    font-weight: 600;
    font-size: 30px;
}

.ul3 {
  list-style: none;
}

.ul3 a {
    list-style-type: none;
    color: #f0ebe5;
     text-decoration: none;
}

.rrss {
    display: flex;
    gap: 10px;
    padding-left: 50px;
    color: #b6c8c9;
}

.lin .insta .twi {
    color: #b6c8c9;
}

li {
    color: #f0ebe5;
}

.up {
    position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}



 @media screen and (min-width: 900px) {

.header {
    height: 100px;
}

.logo {
    padding-top: 20px;
}

    .h1 {
    color: #0c474b;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-right: 40px;
    font-size: 30px;
   
}

  .mod1 {
    height: 700px;
  }

  .mod1a {
    justify-content: flex-start;
    padding-right: 90px;
    padding-top: 100px;
}


     .menu-link {
    display: block;
  }

  .mod2 {
    background-color: #f0ebe5;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 300px 300px 300px;
    grid-auto-rows: 150px;
    gap: 10px;
}

.open {
  display: block;
  padding-left: 200px;
}

.text1v {
    font-size: 30px;
    padding-left: 150px;
    font-weight: 00;
    color: #0c474b;
    grid-column: 1/4;
    padding-top: 100px;
    
}

.imgtable {
    grid-column: 1/2;
    padding-left: 80px;
}

.imgpark {
    grid-column: 3/4;
    padding-right: 40px;
}

  .footer {
    background-color: #0c474b;
    height: 450px;
    color: #f0ebe5;
     display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    
 }

 .foop1 {
    padding-top: 0;
 }
  
 .foop2 {
    padding-top: 0;
 }

 .foop3 {
    padding-top: 0;
 }
  
  
}

 @media screen and (min-width: 1728px) {

.header {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.mod1 {
    height: 1200px;
    display: flex;
    
}

.desktopheader {
    display: flex;
   gap: 200px;
   padding-top: 100px;
   
}

.logo {
    width: auto;
    height: 200px;
    padding-bottom: 40px;
    padding-top: 30px;
    
}

.menu-desktop {
    display: flex;
    gap: 20px;
    color: #0c474b;
    
  }

  .menu-desktop a {
    color: #0c474b;
     text-decoration: none;
     font-size: 20px;
     
  }

  .containermenu {
    display: none;
  }

  .h1 {
    font-size: 30px;
    padding-right: 1000px;
    padding-top: 300px;
    
  }

 .mod2 {
    background-color: #f0ebe5;
    padding-top: 40px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-auto-rows: 150px;
    gap: 1px;
    padding-left: 50px;
    padding-right: 50px;
 }

 .text1v {
   grid-column: 2/3;
   font-size: 30px;
   padding-top: 20px;
   padding-left: 0px;
 }

 .open {
    padding-top: 0px;
 }

.whitewc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
    
}

 .containerwhite,
  .containerwc {
    width: 50%;
    height: auto;
  }

  .containerwhite {
  flex: 1;
  padding: 80px; 
  padding-top: 100px;
  background-color: #f0ebe5;
  height: auto;
  color: #0c474b;
  font-size: 30px;
  justify-content: center;
}

.p1 {
    font-size: 40px;
    
}
.p2 {
    font-size: 30px;
   
}

.containerwc {
  flex: 1;
}

  .wc {
    max-width: 100%;
    height: auto;
    display: block;
  }

 .footer {
    justify-content: space-around;
    font-weight: 200;
 }

 }


